*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  background: #fbfbfb;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
div{
  background-image: linear-gradient(black, black);
  margin: 3em 1em;
  &:before{
    display: block;
    font-size: 88px;
    text-align: center;
    color: #1e0a00;
    mix-blend-mode: lighten;
    background: #fbfbfb;
    line-height: 110px;
  }
}
div:first-of-type{
  --brushstrokes: 3825;
  background-image: paint(demo1);
  &:before{
    // https://www.claudemonetgallery.org/Haystacks-Overcast-Day.html
    font-family: 'Dr Sugiyama', cursive;
    content: "Claude Monet";
  }
}
div:nth-of-type(2){
  --brushstrokes: 102;
  background-image: paint(demo2);
  &:before{
    font-family: 'Amarante', cursive;
    content: "102 Colored Stripes";
  }
}
div:nth-of-type(3){
  --points: 85;
  background-image: paint(demo3);
  &:before{
    font-family: 'Limelight', cursive;
    content: attr(data-text);
  }
}
@media screen and (max-width: 407px){
  div:before{
    font-size: 68px;
  }
}
@media screen and (min-width: 450px){
  div:first-of-type{
    width: 450px;
  }
}
