*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  background: #fbfbfb;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
div{
  background-image: linear-gradient(black, black);
  max-width: 800px;
  &:before{
    display: block;
    font-size: 88px;
    text-align: center;
    color: #1e0a00;
    mix-blend-mode: lighten;
    background: #fbfbfb;
    line-height: 110px;

  }
}
div:first-of-type{
  --brushstrokes: 3825;
  width: 450px;
  background-image: paint(demo1);
  &:before{
    // https://www.claudemonetgallery.org/Haystacks-Overcast-Day.html
    font-family: 'Dr Sugiyama', cursive;
    content: "Claude Monet";
  }
}
div:nth-of-type(2){
  --brushstrokes: 102;
  width: 80%;
  // background-image: linear-gradient(black, black);
  background-image: paint(demo2);
  &:before{
    // display: block;
    font-family: 'Amarante', cursive;
    // font-size: 88px;
    // text-align: center;
    content: "Art Nouveau";
    // background: #fbfbfb;
    // line-height: 110px;
    // color: #000;
    // mix-blend-mode: lighten;
  }
}
div:nth-of-type(3){
  --points: 85;
  width: 84%;
  // background-image: linear-gradient(black, black);
  background-image: paint(demo3);
  &:before{
    // display: block;
    font-family: 'Limelight', cursive;
    // font-size: 88px;
    // text-align: center;
    content: attr(data-text);
    // background: #fbfbfb;
    // line-height: 110px;
    // color: #000;
    // mix-blend-mode: lighten;
  }
}
